

/******** All modals*************/

.modal {
	width: auto;
	background-color: white;
	position: relative;
	bottom: 2600px;
	width: 63%;
	min-height: 700px;
	margin: auto;
	border-radius: 25px;
	padding-bottom: 50px;
}

.modal-wrapper {
	padding-top: 80px;
	text-align: center;
}

.titleModal {
	font-size: 10px;
}

.closeModal {
	border: none;
	background-color: transparent;
	position: absolute;
	left: 92%;
	top: 2%;
	font-size: 125%;
}

.closeModal:hover {
	cursor: pointer;
}

.titleModal {
	font-size: 26px;
}

.HR {
	width: 70%;
	position: absolute;
	top: 600px;
	right: 16%;
	margin-top: 30px;
	margin-bottom: 20px;
	height: 1.5px;
	background-color: #B3B3B3;
}


.lastBtnInModal {
	font-family: 'Syne';
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	width: 230px;
	height: 40px;
	border-radius: 60px;
	border: solid 1px #1D6154;
	margin: auto;
	position: relative;
	top: 68px;
}





/****Modal 1 photos gallery****/

.titleModal {
	margin-bottom: 50px;
}

.galleryPhoto {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin: auto;
	gap: -10px;
}

.galleryPhoto figure {
	width:fit-content;
}

.galleryPhoto img {
	height: 130px;
	margin-bottom: 25px;
}

.bttnDeleteWork {
	position: relative;
	bottom: 85%;
	left: 76%;
	background-color: black;
	color: white;
	border: none;
	font-size: 80%;
}


#btnAddPhoto{
	position: absolute;
	top: 660px;
	right: 34%;
}


#btnAddPhoto:hover {
	cursor: pointer;
}


/**** Modal2 "Add Work****/


#arrowForReturn{
	border: none;
	background-color: transparent;
	position: absolute;
	right: 92%;
	bottom: 95%;
	font-size: 125%;
}

#arrowForReturn:hover {
	cursor: pointer;
}


.container-add-photo{
	background-color: #E8F1F6;
	width: 65%;
	height: 180px;
	margin: auto;
}

#iconPicture {
	font-size: 500%;
	padding-top: 15px;
	color: #B9C5CC;
}


.labelAndInputFile {
position: relative;
bottom: 50px;
width: 50%;
margin: auto;
}


.labelBtnFile {
	font-size: 10px;
	display: block;
	color: #444444;
}

#falseBtn {
	cursor: pointer;
	margin-top: 35px;
	color: #306685;
	background-color: #CBD6DC;
	height: 28px;
	padding-top: 12px;
	border-radius: 60px;
	border: solid 1px #CBD6DC;
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
}


.form-addWork {
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
	bottom: 70px;
}


.labelTypesTextAndSelect {
	color: #3D3D3D;
	font-size: 14px;
	padding-right: 86%;
}

#labelText {
	position: relative;
	right: 3.5%;
}

#titleWork {
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: solid 1px white;
}

#category {
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: solid 1px white;
	background-color: white;
	border-right: 30px;
}


button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;}





